@page
@model NewWordle.Pages.IndexModel
@{
    Layout = "Shared/_CommonLayout.cshtml";
    ViewBag.Title = "New Wordle";
#if DEBUG
    ViewBag.IsDebug = true;
#else
    ViewBag.IsDebug = false;
#endif
}
<script>    

    wordHash = JSON.parse('@Html.Raw(Model.SampleHash)');
    letterCount = @Model.LetterCount;
    tryCount = @Model.TryCount;

    
</script>

<div class="game-div" style="width:@(Model.Width)px;height:@(Model.Height)px;">

@for(int i = 0; i < Model.TryCount; i++)
{
    <div class="word-div">
        
    @for(int j = 0; j < Model.LetterCount; j++)
    {
        <div id="i@(i)j@(j)" class="letter-div"></div>
    }
     
    </div>
}
</div>

<div id="keyboard" class="simple-keyboard"></div>

<script>
    let Keyboard = window.SimpleKeyboard.default;
    
    let myKeyboard = new Keyboard({
        onChange: input => onChange(input),
        onKeyPress: button => onKeyPress(button)
    }); 

    var widthMatch = window.matchMedia("(max-width: 600px)")
    switchKeyboardLayout(widthMatch); // Call listener function at run time
    widthMatch.addListener(switchKeyboardLayout); // Attach listener function on state changes

    function switchKeyboardLayout(width) {
        if (width.matches) {
            myKeyboard.setOptions(mobileKeyboardOptions);
        } else {
            myKeyboard.setOptions(deskKeyboardOptions);
        }
    }

    
</script>
